.profile-page-cols{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}
.profile-page-left-column{
    height:100%;
    width:40%;
    background-color:var(--background-secondary);
    border-radius:12px;
    box-shadow:var(--box-shadow);
    padding:16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 .profile-page-right-column{
    width:50%;
    height:79vh;
    overflow:hidden;
    background-color:var(--background-secondary);
    border-radius:12px;
    box-shadow:var(--box-shadow);
    padding:16px;
 }