@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --background-primary: #EEF0F2;
  --background-secondary: #F3F3F3;
  --text: #1C120C;
  --text-secondary: #7A7978;
  --primary: #3626A7;
  --secondary: #0DAB76;
  --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

html, body, #root {
  width: 100%;
  height: 100%;
  font-family: 'Inter', sans-serif;
  background-color: var(--background-primary);
  color: var(--text);
}

/* setting global css */
*, *::before, *::after {
  box-sizing: border-box;
}

*{
  margin: 0;
  
}
body{
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,picture,video,canvas,svg{
  display: block;
  max-width: 100%;
  
}
input,button,textarea,select{
  font: inherit;
}

p,h1,h2,h3,h4,h5,h6{
  overflow-wrap: break-word;

}
h1{
  font-size: 3rem;
  font-weight: 900;
}
h2{
  font-size: 2.5rem;
  font-weight: 800;
}
h3{
  font-size: 2.25rem;
  font-weight: 700;
}
h4{
  font-size: 2rem;
  font-weight: 600;
}
h5{
  font-size: 1.75rem;
  font-weight: 600;
}
h6{
  font-size: 1.5rem;
  font-weight: 600;
}

p{
  font-size: 1.25rem;
  font-weight: 400;
}

.page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: 100%;
}
.page.container{
  width: 100%;
  height: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--background-primary);
  box-shadow: var(--box-shadow);

}